<html>
<head>
  <title>SmartMoviePractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render 'layouts/header' %>
	<%= render 'layouts/messages' %>
	<%= yield %>
	<footer>
		<p>&copy; Ruby Effect 2015</p>
	</footer>

</div>

</body>
</html>